/*---------------------------------
 BACKGROUND
-----------------------------------*/

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0e0e0e;
}
/*---------------------------------
-----------------------------------*/

/*-------------------------
     SELECT DROPDOWN
 -------------------------*/

/*-------------------------
 Positioning
 -------------------------*/

/* Center */
/* .language-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
 */


/* Top right */
 .language-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  margin: 1.2rem 1.5rem;
} 

/*-------------------------
 End of positioning
 -------------------------*/


/* 
<select> options background color | font size | padding
*/
.language-menu .select{
  background-color:#999999;
  background-image:linear-gradient(180deg,#000101,#000101);
  font-size:13px;
  padding-right:26px;
  top: 0;
  right: 0;
}

/* Icons alignment*/
.select-wrapper{
  display:inline;
  position:relative;
}

/* Custom arrow down icon */
.select-wrapper:after{
  content:url(../img/caret-down-solid.svg);  
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
  width: 10px;
  height: 10px;
  pointer-events:none;
  position:absolute;
  right:15px;
  top:8px;
}

/* Globe with Meridians icon */
.select-wrapper:before{
  content:url(../img/globe-solid.svg);  
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
  width: 17px;
  height: 17px;
  pointer-events:none;
  position:absolute;
  left:12px;
  top:8px;
}

/* 
Padding between the globe icon and selected language-menuuage
*/
.select-wrapper .select {
  line-height:1.7;
  padding-left:40px;
}

/* 
Select border color and radius
Hides default arrow
*/
.select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:1px solid #b3b3b3;
  border-radius:2px;
/* Font color | select padding and margin */
  color: #fff;
  padding:5px;
  margin-right: 0.5rem;
}


/* MEDIA QUERIES */

/* XS */
@media (max-width: 320px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
}

/* SM */
@media (min-width: 321px) and (max-width: 375px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu .select{
    font-size:16px;
  }
  .select-wrapper:after{
    width: 13px;
    height: 13px;
  }
  .select-wrapper:before{
    width: 19px;
    height: 19px;
  }
}

/* LG */
@media (min-width: 376px) and (max-width: 768px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu .select{
    font-size:16px;
  }
  .select-wrapper:after{
    width: 13px;
    height: 13px;
  }
  .select-wrapper:before{
    width: 19px;
    height: 19px;
  }
}

/* XL 1 */
@media (min-width: 768px) and (max-width: 1025px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu .select{
    font-size:16px;
  }
  .select-wrapper:after{
    width: 13px;
    height: 13px;
  }
  .select-wrapper:before{
    width: 19px;
    height: 19px;
  }
}

/* XL 2 */
@media (min-width: 1200px) and (max-width: 1999px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
}

/* XL 3 */
@media screen and (min-width: 2010px) {
  .language-menu{
    margin: 1.2rem 1.5rem;
  } 
  .language-menu .select{
    font-size:18px;
  }
  .select-wrapper:after{
    width: 15px;
    height: 15px;
  }
  .select-wrapper:before{
    width: 22px;
    height: 22px;
  }
}